@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    position: relative;
    line-height: 2rem;
    font-family: inherit;
}

.nav-logo img{
    height: auto;
    max-width: 100%;
    display: flex;
}

.logo{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    background: rgba(0, 0, 0, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    backdrop-filter: blur(50px);
    max-height: 100px;
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.icon{
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
    position: absolute;
}

/* BREAKPOINTS */
@media (max-width: 678px){
    nav{
        padding: 1.3rem 5%;
    }
    .icon{
        display: inline-flex;
        right: 5%;
    }
    .nav-links{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 17.7rem;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        height: fit-content;
    }
    .sign_in{
        display: none;
    }
    .sign_up{
        display: none;
    }
    .nav-links a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
    }
    .header{
        background: none;
        backdrop-filter: none;
    }
}
.nav-logo{
    max-width: 100px;
}

.nav-links a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    margin-left: 2.5rem;
    padding: 1px;
    position: relative;
}

.nav-links a::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #e71717;
    transition: all 0.3s ease;
}

.nav-links a:hover::after{
    width: 60%;
}

.sign_in{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-image: linear-gradient(50deg,Firebrick, Salmon);
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sign_up{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: black;
    border: 1px solid #fff;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 15px;
}

.sign_in:hover{
    transform: scale(1.1);
}

.sign_up:hover{
    transform: scale(1.1);
    background-color: rgb(94, 91, 91);
}

.next-film ion-icon{
    color: #e71717;
}
.cur-film-hp ion-icon{
    color: #e71717;
}
.next-film-hp{
    color: #e71717;
}

.next-film{
    font-size: 20px;
    margin-top: 100px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ngay-chieu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.ngay-chieu button {
    border: 1px solid white;
    border-radius: 1cap;
    padding: 5px 20px;
    background-color:black;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.ngay-chieu button:hover{
    background-color: rgb(94, 91, 91);
}

h3 {
    color: white;
    text-align: center;
    padding: 20px;
}

.card-phim{
    box-sizing: border-box;
    border: 0px solid #e5e7eb;
    display: flex;
    border-radius: 1cap;
    overflow: hidden;
    background-color: #18181B;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: calc(50% - 20px);
    margin-left: 20px;
    margin-bottom: 20px;
    color: #fff;
    cursor: pointer;
}
.cards{
    flex-wrap: wrap;
    max-width: 80rem;
    margin: 0px auto;
    display: flex;
}

.card-image{
    position: relative;
    overflow: hidden;
    object-fit: contain;
    height: auto;
    width: 500px;
    background-image: none;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-image img {
    position: relative;
    height: 100%;
    width: 100%;
    transition: transform 0.3s ease;
    object-fit: cover;
    object-position: center;
}

.card-image:hover img {
    transform: scale(1.1);
}

.content{
    padding-right: 20px;
    margin: 20px;
}

.style{
    width: 45px;
    padding: .2rem .1rem;
    border: 1px solid #e5e7eb;
    text-align: center;
    border-radius: 1cap;
    position: absolute;
    right: .5rem;
    top: .5rem;
}

.position-content{
    top: 5%;
}

.tltg{
    gap: 1.25rem;
    display: flex;
    opacity: 80%;
    flex-wrap: wrap;
    align-items: center;
}

.warning{
    opacity: 80%;
    color: rgb(239, 68, 68);
}

.btn{
    margin-top: .75rem;
}

.time{
    margin-top: .3rem;
    border-color: white;
    padding-left: .75rem;
    padding-right: .75rem;
    align-items: center;
    display: inline-flex;
    border-radius: 1cap;
    background-color: #18181B;
    border: 1px solid white;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.time:hover{
    background-color: rgb(94, 91, 91);
}

.content-hp{    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

.content-hp-image {
    width: 1920px;
    height: auto;
}


.cur-film-hp{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next-film-hp{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-film{
    position: relative;
    display: flex;
    justify-content: start;
    transition: all 1s ease-in-out;
    transform: translateX(0);
}

.list-film a img {
    transition: all .5s ease-in-out;
    width: 270px;
    height: 200px;
    margin-right: 20px;
    margin-left: 20px;
    object-fit: cover;
    border-radius: 1cap;
    cursor: pointer;
    overflow: hidden;
}
.list-film img:hover{
    transform: scale(1.2);
}

.arrow-right{
    bottom: 0;
    top: 0;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: auto;
    font-size: 100px;
    display: flex;
    cursor: pointer;
    color: gray;
    opacity: 0;
    transition: transform .1s ease-in-out 0s;
    right: 0px;
    z-index: 99;
}

.arrow-right:hover{
    transform: scale(1.2);
    opacity: 1;
}

.content-gt{
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 100px;
    font-size: 20px;
}
.btn-gioi-thieu{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn-gioi-thieu button{
    border: 1px solid white;
    border-radius: 1cap;
    padding: 5px 20px;
    background-color: black;
    color: white;
    transition: all 0.3s ease ;
    cursor: pointer;
}
.btn-gioi-thieu button:hover{
    background-color: rgb(94, 91, 91);
}
.div-infor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.infor{
    color: white;
    margin: 10px;
    padding: 5px 20px;
    max-width: 75rem;
}
.infor h3{
    margin-top: 10px;
}
.infor img{
    height: auto;
    max-width: 100%;
    display: flex;
}
.content-size-tt{
    display: flex;
    justify-content: center;
}
.content-tt h3{
    font-size: 20px;
    margin-top: 100px;
    margin-bottom: 20px;
}
.menu-content{
    width: 1280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
}
.menu-content-new{
    box-sizing: border-box;
    background-color: #18181B;
    border-radius: 1cap;
    margin-left: 15px;
    margin-bottom: 15px;
    width: 304px;
    height: 344px;
    overflow: hidden;
}
.menu-content-new img{
    overflow: hidden;
    height: 210px;
    cursor: pointer;
    position: relative;
    transition: all .3s ease-in-out;
    vertical-align: middle;
}
.menu-content-new img:hover{
    transform: scale(1.05);
}
.time-tt{
    margin-left: 15px;
    margin-top: 15px;
    opacity: .5;
    font-weight: 200;
    display: flex;
    justify-content: start;
}
.title-tt{
    line-height: 1.5;
    font-weight: 700;
    margin-left: 15px;
    color: white;
}










